@model OServico.Models.Produto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoVenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstoqueAtual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstoqueAtual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstoqueMinimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstoqueMinimo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProdutoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
