@model OServico.Models.OrdemServico

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>OrdemServico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tecnico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tecnico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Garantia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Garantia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriçãoServico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriçãoServico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Defeito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Defeito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LaudoTecnico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LaudoTecnico)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrdemServicoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
